attrs
cffi
constantly
cryptography
cssselect
idna
incremental
lxml
parsel
pyasn1
pyasn1-modules
pycparser
PyDispatcher
pyOpenSSL
queuelib
Scrapy
scrapy-splash
service-identity
six
Twisted
w3lib
zope.interface
